@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  width: 1245px;
  margin: 0 auto;
}

h2.menuTitle {
  text-align: center;
  line-height: 75px;
}

.btn-top {
  display: none;
  width: 60px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #FFBF00;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  cursor: pointer;
}

/*  로그인, 회원가입, 계정찾기 공통 영역 */
.container {
  width: 405px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .logo {
  width: 190px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
}
.container .logo img {
  width: 100%;
  height: 100%;
}
.container .inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container .inputBox label.box {
  width: 100%;
  margin: 15px 0;
}
.container .inputBox label.box span.inputTitle {
  font-weight: bold;
}
.container .inputBox label.box input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
}
.container .inputBox label.box input:focus {
  border: 1px solid #545ADC;
  outline: none;
}
.container .inputBox label.box .textAlert {
  float: right;
  font-size: 12px;
}
.container .inputBox label.inputTel .telBoxWrap {
  display: flex;
}
.container .inputBox label.inputTel .telBoxWrap select.telBox {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}
.container .inputBox label.inputTel .telBoxWrap .telBox {
  display: block;
  width: calc(33.333% - 10px);
  height: 50px;
}
.container .inputBox label.inputTel .telBoxWrap .telBox:nth-child(1) {
  margin-right: 15px;
}
.container .inputBox label.inputTel .telBoxWrap .telBox:nth-child(2) {
  margin-right: 15px;
}
.container .commitBtn {
  display: block;
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  transition: 0.1s;
  cursor: pointer;
}
.container .commitBtn:hover {
  background-color: #545ADC;
  color: white;
}
.container p.title {
  font-size: 20px;
  margin: 30px 0;
}
.container ul.bottomMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* 로그인 영역 */
.login .inputLoginBox {
  width: 100%;
  margin-top: 10px;
}
.login .inputLoginBox label.box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.login .inputLoginBox label.box i {
  margin-left: 10px;
  width: 30px;
  text-align: center;
}
.login .inputLoginBox label.box input {
  width: calc(100% - 40px);
  height: 30px;
  font-size: 16px;
  margin-left: 10px;
  border: none;
  box-sizing: border-box;
  margin: 10px;
}
.login .inputLoginBox label.box input:focus {
  outline: none;
}
.login .inputLoginBox label.focusOn {
  position: relative;
  border-bottom: 1px solid #545ADC;
}

/* 회원가입 영역 */
.signup .terms label.term {
  display: block;
  margin: 10px 0;
}
.signup .terms pre {
  border: 1px solid #ccc;
  white-space: pre-wrap;
  font-family: "Noto Sans KR";
  font-size: 14px;
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}

/* 아이디 비밀번호 찾기 영역 */
/* index.html  */
.header {
  background-color: black;
}
.header .wrap {
  color: white;
}
.header .wrap .header-top {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}
.header .wrap .header-top .empty, .header .wrap .header-top .logo, .header .wrap .header-top .gnb {
  width: 33.3333%;
}
.header .wrap .header-top .logo {
  text-align: center;
}
.header .wrap .header-top .gnb {
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}
.header .wrap .header-top .gnb a {
  color: white;
}
.header .wrap .header-top .gnb a:hover {
  color: #FFBF00;
}
.header .wrap .header-top .gnb li {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.header .wrap .header-top .gnb li:hover {
  color: #FFBF00;
}
.header .wrap .header-top .gnb li input {
  border: none;
  position: absolute;
  background-color: #fff;
  width: 0;
  height: 40px;
  line-height: 40px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transform: translateY(-25%);
}
.header .wrap .header-top .gnb li .fa-minus-square {
  display: none;
}
.header .wrap .lnb {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  background-color: #fff;
  color: black;
}
.header .wrap .lnb:hover ul.menuTop li ul.dropMenu {
  visibility: visible;
  opacity: 1;
}
.header .wrap .lnb:hover .menuVisual {
  visibility: visible;
  opacity: 1;
}
.header .wrap .lnb ul.menuTop {
  display: flex;
}
.header .wrap .lnb ul.menuTop > li {
  background-color: black;
  display: block;
  width: 120px;
  text-align: center;
  cursor: pointer;
}
.header .wrap .lnb ul.menuTop > li:hover p {
  background-color: #FFBF00;
  color: black;
}
.header .wrap .lnb ul.menuTop > li a {
  color: white;
  width: 100%;
  height: 100%;
  display: block;
}
.header .wrap .lnb ul.menuTop > li > p {
  color: white;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
}
.header .wrap .lnb ul.menuTop > li ul.dropMenu {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  height: 240px;
  padding: 10px 0;
  z-index: 9999;
}
.header .wrap .lnb ul.menuTop > li ul.dropMenu li {
  width: 120px;
  font-size: 14px;
  letter-spacing: -1px;
  height: 40px;
  line-height: 30px;
  color: black;
}
.header .wrap .lnb ul.menuTop > li ul.dropMenu li:hover {
  text-decoration: underline;
}
.header .wrap .lnb ul.menuTop > li ul.dropMenu li a {
  color: black;
  width: 100%;
  height: 100%;
  display: block;
}
.header .wrap .lnb .menuVisual {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 260px;
  background-color: white;
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .wrap .lnb .menuVisual .menuVisualWrap {
  display: flex;
  width: 350px;
  height: 150px;
  margin-right: 20px;
}
.header .wrap .lnb .menuVisual .menuVisualWrap .menuImg {
  width: calc(50% - 20px);
  height: 100%;
}
.header .wrap .lnb .menuVisual .menuVisualWrap .menuImg:first-child {
  margin-right: 20px;
}
.header .wrap .lnb .menuVisual .menuVisualWrap .menuImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .wrap .lnb .hot {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: black;
  color: white;
  height: 40px;
  overflow: hidden;
  position: relative;
}
.header .wrap .lnb .hot ul {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: right;
}
.header .wrap .lnb .hot ul li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 40px;
  font-size: 14px;
}
.header .wrap .lnb .hot ul li p {
  font-weight: bold;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background-color: #FFBF00;
  color: black;
  border-radius: 2px;
  margin: 0 5px;
}
.header .wrap .lnb .hot ul li span {
  width: 100px;
  text-align: left;
}

/* swiper 공통 */
.visual-main {
  width: 100%;
  background-color: #eee;
}
.visual-main .wrap.swiper {
  width: 1245px;
  height: 450px;
}
.visual-main .wrap.swiper .swiper-slide {
  position: relative;
}
.visual-main .wrap.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visual-main .wrap.swiper .swiper-pagination {
  bottom: 0px;
  line-height: 34px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFBF00;
}
.visual-main .wrap.swiper .swiper-pagination .swiper-pagination-bullet {
  width: auto;
  height: 100%;
  font-weight: bold;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
}

/* 베스트, 신상품 서식 똑같음 */
.best-product .wrap, .new-product .wrap {
  height: 420px;
}
.best-product .wrap .swiper-slide, .new-product .wrap .swiper-slide {
  border: 1px solid #eee;
  box-sizing: border-box;
  cursor: pointer;
}
.best-product .wrap .swiper-slide img, .new-product .wrap .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-accordion .wrap {
  display: flex;
  height: 700px;
}
.product-accordion .wrap img.gangjo-default {
  filter: brightness(100%);
}
.product-accordion .wrap img.gangjo-on {
  filter: brightness(100%);
  scale: 103%;
  filter: drop-shadow(5px 5px 5px #000);
}
.product-accordion .wrap img.gangjo-on2 {
  filter: brightness(100%);
  scale: 103%;
  filter: drop-shadow(5px 5px 5px #000);
}
.product-accordion .wrap img.gangjo-off {
  filter: brightness(65%);
}
.product-accordion .wrap .a1 .hoverZone:nth-child(1) .hz {
  top: 0px;
  width: 405px;
  height: 363px;
}
.product-accordion .wrap .a1 .hoverZone:nth-child(2) .hz {
  top: 363px;
  width: 405px;
  height: 337px;
}
.product-accordion .wrap .a2 .hoverZone:nth-child(1) .hz {
  top: 0px;
  width: 405px;
  height: 135px;
}
.product-accordion .wrap .a2 .hoverZone:nth-child(2) .hz {
  top: 135px;
  left: 190px;
  width: 215px;
  height: 240px;
}
.product-accordion .wrap .a2 .hoverZone:nth-child(3) .hz {
  top: 135px;
  width: 190px;
  height: 240px;
}
.product-accordion .wrap .a2 .hoverZone:nth-child(4) .hz {
  top: 375px;
  width: 405px;
  height: 325px;
}
.product-accordion .wrap .a3 .hoverZone:nth-child(1) .hz {
  top: 0px;
  width: 405px;
  height: 140px;
}
.product-accordion .wrap .a3 .hoverZone:nth-child(2) .hz {
  top: 140px;
  width: 405px;
  height: 172px;
}
.product-accordion .wrap .a3 .hoverZone:nth-child(3) .hz {
  top: 312px;
  width: 405px;
  height: 388px;
}
.product-accordion .wrap .accProduct {
  background-color: #ccc;
  width: 405px;
  height: 700px;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}
.product-accordion .wrap .accProduct:last-child {
  margin-right: 0;
}
.product-accordion .wrap .accProduct > img {
  height: 100%;
  position: absolute;
  transition: 0.1s;
}
.product-accordion .wrap .accProduct > img:nth-child(1) {
  z-index: 0;
}
.product-accordion .wrap .accProduct .hoverContent {
  width: 825px;
  height: 700px;
  position: relative;
}
.product-accordion .wrap .accProduct .hoverContent .hoverZone > img {
  position: absolute;
  width: auto;
  height: 100%;
  z-index: 99;
  transition: 0.1s;
}
.product-accordion .wrap .accProduct .hoverContent .hoverZone > .hz {
  position: absolute;
  z-index: 100;
}
.product-accordion .wrap .accProduct .hoverContent .hoverZone > .icon {
  position: absolute;
  z-index: 101;
  border: 5px solid black;
  box-sizing: border-box;
  text-align: center;
  width: 42px;
  height: 42px;
  line-height: 34px;
  font-size: 26px;
  border-radius: 50%;
  transition: 0.2s;
}
.product-accordion .wrap .accProduct .hoverContent .productInfo {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  left: 405px;
  width: 420px;
  height: 700px;
}
.product-accordion .wrap .accProduct .hoverContent .productInfo p {
  color: white;
  font-weight: bold;
  letter-spacing: -1px;
  width: 405px;
  padding: 10px 30px 10px 0;
  box-sizing: border-box;
}
.product-accordion .wrap .accProduct .hoverContent .productInfo p.productDetails {
  font-size: 16px;
  font-weight: normal;
}
.product-accordion .wrap .accProduct .hoverContent .productInfo p.productName {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}
.product-accordion .wrap .accProduct .hoverContent .productInfo .btnZone {
  flex-grow: 1;
}
.product-accordion .wrap .accProduct .hoverContent .productInfo .btnZone .infoViewMore {
  display: block;
  background-color: #545ADC;
  color: white;
  letter-spacing: -1px;
  text-align: center;
  width: 150px;
  padding: 5px 0;
  margin-top: 20px;
  box-sizing: border-box;
  font-size: 18px;
  border: none;
  transition: 0.1s;
  cursor: pointer;
}
.product-accordion .wrap .accProduct .hoverContent .productInfo .btnZone .infoViewMore:hover {
  background-color: #FFBF00;
  color: black;
}
.product-accordion .wrap .accProduct .hoverContent .productInfo .btnZone .infoViewMore i {
  margin-right: 10px;
}

/* 엠디 추천 상품 */
.mdsPick .wrap {
  display: flex;
  height: 400px;
}
.mdsPick .wrap .pickProduct {
  position: relative;
  width: 300px;
  height: 100%;
  margin-right: 15px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}
.mdsPick .wrap .pickProduct:last-child {
  margin-right: 0;
}
.mdsPick .wrap .pickProduct img.md-head {
  position: absolute;
  width: 300px;
  height: 100%;
  transition: 0.1s;
}
.mdsPick .wrap .pickProduct .md-hover {
  position: absolute;
  left: 300px;
  width: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  letter-spacing: -2px;
}
.mdsPick .wrap .pickProduct .md-hover p {
  padding: 20px;
  box-sizing: border-box;
  font-weight: bold;
}
.mdsPick .wrap .pickProduct .md-hover p:nth-child(1) {
  margin-top: auto;
}
.mdsPick .wrap .pickProduct .md-hover button {
  border: none;
  margin-top: 20px;
  margin-bottom: auto;
  padding: 5px 25px;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: -2px;
  background-color: #545ADC;
  color: white;
  cursor: pointer;
}

.instagram .wrap {
  display: flex;
  height: 300px;
}
.instagram .wrap .instaPicture {
  width: 300px;
  height: 300px;
  background-color: #ccc;
  margin-right: 15px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: 0.1s;
}
.instagram .wrap .instaPicture:last-child {
  margin-right: 0;
}
.instagram .wrap .instaPicture:hover p {
  opacity: 1;
}
.instagram .wrap .instaPicture:hover img {
  filter: brightness(50%);
}
.instagram .wrap .instaPicture img {
  width: 100%;
  transition: 0.1s;
}
.instagram .wrap .instaPicture p {
  opacity: 0;
  position: absolute;
  width: 300px;
  line-height: 300px;
  text-align: center;
  color: white;
  top: 0;
  transition: 0.1s;
}

.bottomInfo {
  margin-top: 20px;
  letter-spacing: -1px;
}
.bottomInfo .wrap ul {
  display: flex;
  padding: 20px 0 40px 0;
}
.bottomInfo .wrap ul li {
  flex-grow: 1;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  border-right: 1px solid #ccc;
  cursor: pointer;
}
.bottomInfo .wrap ul li:last-child {
  border-right: none;
}
.bottomInfo .wrap ul li:hover {
  color: #545ADC;
}

.footer .wrap {
  border-top: 1px solid #eee;
  letter-spacing: -1px;
}
.footer .wrap .footer-head {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.footer .wrap .footer-head ul li {
  display: inline-block;
  margin: 0 10px;
  line-height: 50px;
  cursor: pointer;
}
.footer .wrap .footer-head ul li:hover {
  color: #545ADC;
}
.footer .wrap .footer-head ul.sns {
  font-size: 24px;
}
.footer .wrap .footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding: 20px 0;
}
.footer .wrap .footer-main ul {
  width: 300px;
}
.footer .wrap .footer-main ul li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.footer .wrap .footer-end {
  border-top: 1px solid #eee;
  height: 50px;
}
.footer .wrap .footer-end ul li {
  display: inline-block;
  margin: 0 20px;
  line-height: 50px;
}
.footer .wrap .footer-end ul li:first-child {
  margin-left: 0;
}

.sub-page-container .visual-banner .wrap {
  position: relative;
}
.sub-page-container .visual-banner .wrap .banner {
  width: 100%;
  height: 350px;
}
.sub-page-container .visual-banner .wrap .banner img {
  width: 100%;
  height: 100%;
}
.sub-page-container .visual-banner .wrap .banner-text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}
.sub-page-container .visual-banner .wrap .banner-text p.category {
  font-size: 28px;
}
.sub-page-container .visual-banner .wrap .banner-text p.category-detail {
  font-size: 20px;
  letter-spacing: -1px;
}
.sub-page-container .products .wrap {
  background-color: #fff;
}
.sub-page-container .products .wrap .side-filter {
  float: left;
  width: 300px;
  margin-right: 15px;
  background-color: white;
}
.sub-page-container .products .wrap .side-filter h2.filter-category {
  width: 200px;
  padding: 10px;
  border-bottom: 3px solid #000;
}
.sub-page-container .products .wrap .side-filter .filter {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  letter-spacing: -0.8px;
}
.sub-page-container .products .wrap .side-filter .filter h3 {
  padding: 10px;
  width: 100%;
}
.sub-page-container .products .wrap .side-filter .filter label {
  padding: 10px;
  display: flex;
  align-items: center;
}
.sub-page-container .products .wrap .side-filter .filter span {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 2px solid #aaa;
  cursor: pointer;
  background-color: #fff;
  margin-right: 10px;
}
.sub-page-container .products .wrap .side-filter .filter input {
  display: none;
}
.sub-page-container .products .wrap .side-filter .filter input:checked ~ span {
  background-color: #545ADC;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color {
  flex-direction: row;
  flex-wrap: wrap;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label {
  padding: 5px;
  margin: 10px 10px;
  border: 1px solid #bbb;
  width: 30px;
  height: 16px;
  text-align: center;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label input {
  display: block;
  width: 100%;
  height: 100%;
  display: none;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label i {
  display: none;
  margin: 0 auto;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label#color-black {
  background-color: black;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label#color-black i {
  color: white;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label#color-white {
  background-color: white;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label#color-gray {
  background-color: gray;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label#color-red {
  background-color: red;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label#color-yellow {
  background-color: yellow;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label#color-green {
  background-color: green;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label#color-blue {
  background-color: blue;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label#color-blue i {
  color: white;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label#color-purple {
  background-color: purple;
}
.sub-page-container .products .wrap .side-filter .filter.filter-color label#color-purple i {
  color: white;
}
.sub-page-container .products .wrap .product-list {
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 930px;
  letter-spacing: -0.7px;
}
.sub-page-container .products .wrap .product-list .sub-filter {
  width: 100%;
  margin: 15px 0 30px 0;
  font-size: 20px;
}
.sub-page-container .products .wrap .product-list .sub-filter select {
  margin-left: 20px;
  font-size: 20px;
  border: none;
  padding: 10px 20px;
  float: right;
}
.sub-page-container .products .wrap .product-list .sub-filter label {
  line-height: 26px;
}
.sub-page-container .products .wrap .product-list .sub-filter label input[type=checkbox] {
  margin-left: 10px;
  height: 17px;
  width: 20px;
}
.sub-page-container .products .wrap .product-list .product-box {
  width: 300px;
  margin: 0 15px 50px 0;
}
.sub-page-container .products .wrap .product-list .product-box .imgBox {
  position: relative;
  width: 100%;
  height: 450px;
  border: 1px solid #eee;
}
.sub-page-container .products .wrap .product-list .product-box .imgBox img {
  width: 100%;
  height: 100%;
}
.sub-page-container .products .wrap .product-list .product-box .imgBox img:nth-child(2) {
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: 2;
}
.sub-page-container .products .wrap .product-list .product-box .imgBox img:nth-child(2):hover {
  opacity: 1;
  transition: 0.2s;
}
.sub-page-container .products .wrap .product-list .product-box .product-info .product-status {
  height: 35px;
}
.sub-page-container .products .wrap .product-list .product-box .product-info .product-text {
  letter-spacing: -0.8px;
}
.sub-page-container .products .wrap .product-list .product-box .product-info .product-text p.product-name-kr {
  font-size: 18px;
  font-weight: bold;
}
.sub-page-container .products .wrap .product-list .product-box .product-info .product-text p.product-name-eng {
  font-size: 18px;
  height: 48px;
}
.sub-page-container .products .wrap .product-list .product-box .product-info .product-text p.product-price {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 15px 0;
}
.sub-page-container .products .wrap .product-list .product-box .product-info .product-buy span {
  background-color: #545ADC;
  padding: 5px 30px;
  margin-right: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.sub-page-container .products .wrap .product-list .product-box .product-info .product-buy span:hover {
  background-color: #FFBF00;
}
.sub-page-container .products .wrap .pagination {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.sub-page-container .products .wrap .pagination span {
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  color: black;
  margin: 10px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}
.sub-page-container .products .wrap .pagination span.active {
  border: 1px solid #545ADC;
  background-color: #545ADC;
  color: white;
}

/* detail 페이지 */
.detail-container .wrap {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.detail-container .wrap .detail-view p.style-code {
  margin: 10px 0;
}
.detail-container .wrap .detail-view .img-thumb {
  width: 510px;
  margin-bottom: 20px;
  cursor: pointer;
}
.detail-container .wrap .detail-view .img-thumb img {
  width: 100%;
}
.detail-container .wrap .detail-view .img-small {
  width: 510px;
  display: flex;
}
.detail-container .wrap .detail-view .img-small div {
  width: 90px;
  height: 90px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid #eee;
}
.detail-container .wrap .detail-view .img-small div:last-child {
  margin-right: 0;
}
.detail-container .wrap .detail-view .img-small div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail-container .wrap .detail-info {
  width: 615px;
  margin-left: 120px;
  letter-spacing: -1px;
  margin-top: 15px;
}
.detail-container .wrap .detail-info h1 {
  margin: 20px 0 10px 0;
}
.detail-container .wrap .detail-info .status {
  margin: 15px 0;
}
.detail-container .wrap .detail-info .status span {
  padding: 2px 10px;
  color: white;
  background-color: black;
}
.detail-container .wrap .detail-info .menu {
  display: flex;
  line-height: 30px;
  justify-content: space-between;
}
.detail-container .wrap .detail-info .menu .likeAndShare {
  font-size: 24px;
}
.detail-container .wrap .detail-info .menu .likeAndShare i {
  padding: 0 15px;
  cursor: pointer;
}
.detail-container .wrap .detail-info .menu .likeAndShare i.fa-heart {
  color: red;
  border-right: 1px solid #ccc;
  padding-right: 20px;
  margin-right: 10px;
}
.detail-container .wrap .detail-info .price {
  margin: 15px 0;
}
.detail-container .wrap .detail-info .price span:first-child {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}
.detail-container .wrap .detail-info .price span:last-child {
  color: gray;
}
.detail-container .wrap .detail-info .notice {
  margin: 25px 0;
}
.detail-container .wrap .detail-info .notice p {
  margin: 5px 0;
}
.detail-container .wrap .detail-info .color {
  display: flex;
  flex-wrap: wrap;
}
.detail-container .wrap .detail-info .color p {
  width: 100%;
  margin: 5px 0;
  color: gray;
  font-weight: bold;
}
.detail-container .wrap .detail-info .color div {
  width: 90px;
  height: 90px;
  margin-right: 15px;
  border: 3px solid #eee;
  box-sizing: border-box;
  cursor: pointer;
}
.detail-container .wrap .detail-info .color div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail-container .wrap .detail-info .color div img:hover {
  filter: brightness(90%);
}
.detail-container .wrap .detail-info .size {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}
.detail-container .wrap .detail-info .size p {
  width: 100%;
  margin: 5px 0;
  color: gray;
  font-weight: bold;
}
.detail-container .wrap .detail-info .size div {
  width: 90px;
  height: 60px;
  margin-right: 15px;
  border: 3px solid #eee;
  box-sizing: border-box;
  line-height: 60px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}
.detail-container .wrap .detail-info .size div:hover {
  background-color: #eee;
}
.detail-container .wrap .detail-info .benefit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}
.detail-container .wrap .detail-info .benefit div:first-child {
  display: flex;
  align-items: center;
}
.detail-container .wrap .detail-info .benefit div:first-child img {
  margin-right: 15px;
}
.detail-container .wrap .detail-info .benefit div:last-child {
  color: #2DB400;
}
.detail-container .wrap .detail-info .size-finder {
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  cursor: pointer;
}
.detail-container .wrap .detail-info .submit-btn {
  display: flex;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  margin-top: 15px;
}
.detail-container .wrap .detail-info .submit-btn .cart {
  width: 30%;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
}
.detail-container .wrap .detail-info .submit-btn .buy {
  width: calc(70% - 15px);
  margin-left: 15px;
  background-color: #FFBF00;
  color: black;
  cursor: pointer;
}
.detail-container .wrap .another-products .worn, .detail-container .wrap .another-products .viewed {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}
.detail-container .wrap .another-products .worn p.title, .detail-container .wrap .another-products .viewed p.title {
  width: 100%;
  font-size: 22px;
  margin-bottom: 15px;
}
.detail-container .wrap .another-products .worn .worn-product, .detail-container .wrap .another-products .worn .viewed-product, .detail-container .wrap .another-products .viewed .worn-product, .detail-container .wrap .another-products .viewed .viewed-product {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 15px;
}
.detail-container .wrap .another-products .worn .worn-product:last-child, .detail-container .wrap .another-products .worn .viewed-product:last-child, .detail-container .wrap .another-products .viewed .worn-product:last-child, .detail-container .wrap .another-products .viewed .viewed-product:last-child {
  margin-right: 0;
}
.detail-container .wrap .another-products .worn .worn-product div, .detail-container .wrap .another-products .worn .viewed-product div, .detail-container .wrap .another-products .viewed .worn-product div, .detail-container .wrap .another-products .viewed .viewed-product div {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.detail-container .wrap .another-products .worn .worn-product div img, .detail-container .wrap .another-products .worn .viewed-product div img, .detail-container .wrap .another-products .viewed .worn-product div img, .detail-container .wrap .another-products .viewed .viewed-product div img {
  position: absolute;
  top: -25%;
  width: 100%;
}
.detail-container .wrap .another-products .worn .worn-product p.name, .detail-container .wrap .another-products .worn .viewed-product p.name, .detail-container .wrap .another-products .viewed .worn-product p.name, .detail-container .wrap .another-products .viewed .viewed-product p.name {
  margin: 15px 0;
  font-weight: bold;
}
.detail-container .wrap .another-products .worn .worn-product p.price, .detail-container .wrap .another-products .worn .viewed-product p.price, .detail-container .wrap .another-products .viewed .worn-product p.price, .detail-container .wrap .another-products .viewed .viewed-product p.price {
  font-size: 20px;
}
.detail-container .wrap .for-customers {
  width: 100%;
}
.detail-container .wrap .for-customers .category-bar {
  display: flex;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.detail-container .wrap .for-customers .category-bar div {
  width: 20%;
  height: 50px;
  line-height: 50px;
  border-right: 1px solid #aaa;
  box-sizing: border-box;
  font-size: 18px;
  background-color: #bbb;
}
.detail-container .wrap .for-customers .category-bar div:last-child {
  border-right: none;
}
.detail-container .wrap .for-customers .detail {
  padding: 20px 0;
}
.detail-container .wrap .for-customers .product-reviews {
  padding: 20px 0;
}
.detail-container .wrap .for-customers .product-reviews p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.detail-container .wrap .for-customers .product-reviews p span:nth-child(2) {
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: #545ADC;
  color: white;
  padding: 0 10px;
  text-align: center;
}
.detail-container .wrap .for-customers .product-reviews .reviews-wrap {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.detail-container .wrap .for-customers .product-reviews .reviews-wrap .review {
  display: flex;
  line-height: 70px;
  border-bottom: 1px solid #ccc;
}
.detail-container .wrap .for-customers .product-reviews .reviews-wrap .review:last-child {
  border-bottom: none;
}
.detail-container .wrap .for-customers .product-reviews .reviews-wrap .review span {
  width: 50%;
  margin-left: 15px;
}
.detail-container .wrap .for-customers .product-reviews .reviews-wrap .review .star-point {
  width: 10%;
  text-align: center;
}
.detail-container .wrap .for-customers .product-reviews .reviews-wrap .review .review-date {
  width: 20%;
  text-align: center;
}
.detail-container .wrap .for-customers .product-reviews .reviews-wrap .review .review-user {
  width: calc(20% - 15px);
  text-align: center;
}
.detail-container .wrap .for-customers .product-reviews .review-write {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.detail-container .wrap .for-customers .product-reviews .review-write p {
  width: 100%;
  font-weight: bold;
}
.detail-container .wrap .for-customers .product-reviews .review-write p span {
  font-size: 24px;
}
.detail-container .wrap .for-customers .product-reviews .review-write input {
  width: 90%;
  height: 60px;
  box-sizing: border-box;
}
.detail-container .wrap .for-customers .product-reviews .review-write .review-submit {
  width: calc(10% - 15px);
  line-height: 60px;
  height: 60px;
  margin-left: 15px;
  text-align: center;
  background-color: #545ADC;
  color: white;
}
.detail-container .wrap .for-customers .qna {
  padding: 20px 0;
}
.detail-container .wrap .for-customers .qna .qna-header p {
  text-align: center;
  margin: 10px 0;
}
.detail-container .wrap .for-customers .qna .qna-header p:nth-child(1) {
  font-size: 24px;
}
.detail-container .wrap .for-customers .qna .qna-header p:nth-child(2) span {
  color: #545ADC;
  font-weight: bold;
}
.detail-container .wrap .for-customers .qna .qna-header div {
  width: 200px;
  text-align: center;
  color: #545ADC;
  font-weight: bold;
  line-height: 50px;
  border: 2px solid #545ADC;
  margin: 20px auto;
  font-size: 18px;
}
.detail-container .wrap .for-customers .qna .qna-board > p {
  line-height: 60px;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .qna-post {
  display: flex;
  line-height: 70px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .qna-post:last-child {
  border-bottom: none;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .qna-post:hover p.title {
  text-decoration: underline;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .qna-post p.status {
  width: 10%;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .qna-post p.title {
  width: 70%;
  text-align: left;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .qna-post p.date {
  width: 10%;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .qna-post p.user {
  width: 10%;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .answer {
  display: none;
  padding: 0 0 30px 60px;
  border-bottom: 1px solid #ccc;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .answer b {
  line-height: 70px;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .answer .input-answer {
  display: flex;
  height: 50px;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .answer.reply-needed {
  /* 100퍼센트 일부러 안채움 */
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .answer.reply-needed input {
  width: calc(85% - 15px);
  font-size: 18px;
}
.detail-container .wrap .for-customers .qna .qna-board .qna-board-wrap .answer.reply-needed .answer-submit {
  width: 10%;
  margin-left: 15px;
  background-color: #545ADC;
  color: white;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.detail-container .wrap .for-customers .delivery {
  padding: 20px 10px 20px 10px;
}
.detail-container .wrap .for-customers .guide {
  padding: 10px 10px 20px 10px;
}
.detail-container .wrap .for-customers .guide p {
  line-height: 80px;
  font-size: 20px;
}
.detail-container .wrap .for-customers .guide pre {
  width: 100%;
  white-space: pre-wrap;
  font-family: "Malgun Gothic";
  font-size: 16px;
}
.detail-container .wrap .for-customers .bar1 div:nth-child(1) {
  background-color: #FFBF00;
}
.detail-container .wrap .for-customers .bar2 div:nth-child(2) {
  background-color: #FFBF00;
}
.detail-container .wrap .for-customers .bar3 div:nth-child(3) {
  background-color: #FFBF00;
}
.detail-container .wrap .for-customers .bar4 div:nth-child(4) {
  background-color: #FFBF00;
}
.detail-container .wrap .for-customers .bar5 div:nth-child(5) {
  background-color: #FFBF00;
}

.full-screen-modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-screen-modal .size-finder-modal {
  width: 600px;
  height: 400px;
  background-color: #eee;
  padding: 20px;
  position: relative;
}
.full-screen-modal .size-finder-modal h2.title {
  width: 100%;
  height: 60px;
  text-align: center;
}
.full-screen-modal .size-finder-modal .your-data {
  display: flex;
}
.full-screen-modal .size-finder-modal .your-data .your-height, .full-screen-modal .size-finder-modal .your-data .your-weight {
  width: calc(50% - 15px);
}
.full-screen-modal .size-finder-modal .your-data .your-height p > span, .full-screen-modal .size-finder-modal .your-data .your-weight p > span {
  color: #aaa;
  margin-left: 5px;
}
.full-screen-modal .size-finder-modal .your-data .your-height input, .full-screen-modal .size-finder-modal .your-data .your-weight input {
  width: 100%;
  box-sizing: border-box;
  line-height: 50px;
  font-size: 24px;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid #aaa;
}
.full-screen-modal .size-finder-modal .your-data .your-height {
  margin-right: 30px;
}
.full-screen-modal .size-finder-modal .check-btn {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.1s;
}
.full-screen-modal .size-finder-modal .check-btn:hover {
  background-color: #545ADC;
  color: white;
}
.full-screen-modal .size-finder-modal .my-size {
  margin-top: 10px;
  text-align: center;
}
.full-screen-modal .size-finder-modal .my-size p.title {
  font-size: 24px;
  font-weight: bold;
}
.full-screen-modal .size-finder-modal .my-size p.size-result {
  font-size: 40px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 5px;
  width: 50%;
  border: 1px solid #aaa;
}
.full-screen-modal .size-finder-modal p.exit {
  position: absolute;
  top: 2%;
  right: 2%;
}
.full-screen-modal .size-finder-modal p.exit:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
